<h1>Add a session to <%= Chapter.find(params[:chapter_id]).name %></h1>

<div >
  <div >
    <%= simple_form_for(@session) do |f| %>
    <%= f.association :users, as: :check_boxes, collection: Chapter.find(params[:chapter_id]).eligible_students, label_method: lambda {|user| user.username.camelize } %>
    <%= f.input :location, class: 'form-control' %>


    <%= f.input :date, class: 'form-control' %>

    <%= f.input :duration, class: 'form-control', hint: "in minutes" %>
    <%= f.input :capacity, class: 'form-control', hint: " students" %>
    <%= f.input :position, :readonly => true, class: 'form-control' %>

    <%= f.hidden_field :chapter_id%>
    <%= f.hidden_field :teacher_id%>

      <%= f.submit "add the session", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
