<h1>  Chapter <%= @chapter.position%> : <%= @chapter.name %> </h1>

<%= link_to "add  a session", new_session_path(chapter_id: @chapter.id), class: "btn btn-lg btn-primary" %>
<br/>
<%= link_to "delete this chapter", chapter_path(chapter_id: @chapter.id), method: :delete%>
<br/>
<%= link_to "edit this chapter", edit_chapter_path%>

<br/>
<h2> List of Sessions </h2>
<% if @sessions.any? %>
  <ul class = "sessions">
    <%= render @sessions %>
  </ul>
<% else %>
  pas encore de session
<%end%>
