<h1>  Chapter <%= @chapter.position%> : <%= @chapter.name %> </h1>

<% if current_user.id == @course.author_id %>
  <%= link_to "edit this chapter", edit_chapter_path, class: "btn btn-sm btn-primary"%>
  <%= link_to "delete this chapter", chapter_path(chapter_id: @chapter.id), method: :delete, class: "btn btn-sm btn-primary"%>
  <br/>
  <br/>
  <%= link_to "add  a session", new_session_path(chapter_id: @chapter.id), class: "btn btn-lg btn-primary" %>
<%end%>

<br/>
<h2> List of Sessions </h2>
<% if @sessions.any? %>
  <ul class = "sessions">
    <%= render @sessions %>
  </ul>
<% else %>
  pas encore de session
<%end%>
