<!DOCTYPE html>
<html>
<head>
  <title>FormationScratchApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>
    <%= link_to "TRAINING", root_path, class: "btn btn-lg btn-primary" %>
  </h1>
</header>
<body>

<%= yield %>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
